.card-product {
    margin:100px 0px;
    display: flex;
    border: 1px solid black;
    padding:20px;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.8);
}

.spinner-border {
    display: none;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid red;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}


.custom {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.spinner-button {
    .spinner-border {
        display: inline-block;
    }
    img {
        height:36px;
    }
}


.info-product {
    border: 15px solid #e7e7e7;
    padding:10px;
    .cost {
        margin: 0 10px 0 0;
        padding: 3px 10px;
        border: 1px solid transparent;
        border-radius: 3px;
        white-space: nowrap;
        background: #fef2b8;
        font-size: 2.46154em;
        font-weight: bold;
        display: inline-block;
    }

    .action-buttons {    
        display: flex;
        align-items: center;
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom:20px;
        .favorites {
            padding: 0.375rem 0.75rem;
            border-radius: 0.25rem;
            outline:none;
            border: 1px solid #ccc;
            background: white;
            display: flex;
            margin-left:10px;
            i {
                font-size: 22px;
                color: #FFA901;
            }
        }
    }
}
