.all-products {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    .product {
        box-shadow: 0px 3px 6px rgba(0,0,0,.6);
        padding:20px;
        cursor:pointer;
        margin:20px;
        img {
            height:100px;
            width:100px;
        }
        .actions-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-top:10px;
            .remove {
                border:1px solid red;
                background: transparent;
                color:red;
            }
            .edit {
                border:1px solid green;
                background: transparent;
                color:green;
            }
        }
    }
}